@charset "UTF-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
	font-family: 'Noto Serif JP', serif;
	box-sizing: border-box;
	z-index: 2;
}
@media screen and (max-width:480px) {
	p{
		
	font-size: 0.8em;
	}
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
::-webkit-scrollbar{
	width: 0.5em;
	height: 0.5em;
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #ccc;
}
.content_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
    transform: scale(1.1);
	filter: blur(1.5em);
    transition-timing-function: ease-in-out;
    opacity: 0;
}
.farstin{
	transform: scale(1);
	opacity: 1;
	filter: blur();
}
.start p img{
	width: 3%;
}
.left,.box{
	background: #FBFBFB;
}
.right{
	width: 100%;
	background: #FBFBFB;
	overflow: auto;
}
.left,.right{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 100vh;
}
.left{
	width: 40%;
	padding: 2em;
}

.slide {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box {
	height: 100%;
	width: 100%;
    display: flex;
    justify-content: space-around;
	flex-wrap: wrap;
}
.start{
	background: #fff;
	background-size: cover;
	z-index: 2;
	padding: 100%;
}
.start p img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content_wrapper,.left,.right{
	align-items: center;
}
.mylogo {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.aboutme_box{
	padding: 2em 0;
}
.me {
    padding-bottom: 1em;
    margin: 0 auto;
    width: 100%;
}

li a {
    color: #000;
	font-weight: 900;
}
.aboutme {
    width: 60%;
    margin: 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}
.wanttodo_title, .myname {
    text-align: center;
    padding: 1.2em 0;
}
.wanttodo, .itsme,.more a,.mail {
    font-size: 0.8em;
    color: #999;
}
.more{
	text-align: right;
	text-decoration: underline;
}
.mail{
	text-align: center;
	padding-top: 2em;
}
@media screen and (max-width: 1366px){
	.mylogo{
		width: 50%;
	}
	.aboutme{
		width: 80%;
	}
}
@media screen and (min-width: 1367px){
	.left{
		width: 25%;
	}	
}

.title {
    position: absolute;
}
.work-sumb {
    width: 25%;
	cursor: pointer;
	height: fit-content;
}
.work-sumb img {
    width: 100%;
}
.work-sumb :hover img {
	transition: 0.3s;
	transform: scale(0.95, 0.95);

}
.popup{
	transition: 0.5s;
	background: rgba(255,255,255,0.4);
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
}
.popupbox{
	width: 100%;
	background: rgba(255,255,255,0.5);
	height: 100%;
	margin: 0 auto;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	padding: 3em;
}

.close{
	cursor: pointer;
	transition: 0.3s;
	position: absolute;
	width: 1.2%;
	right: 0;
	top: 0;
	margin: 2em;
}

.close:hover{
	opacity: 0.5;
	transform: rotate(180deg)
}
.popupflex{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	flex-flow: column;
}
.popupright{
	height: 10%;
	width: 100%;
	padding: 3em;
	display: flex;
	justify-content:space-around;
	align-items: center;
}
.popupleft{
	height: 100%;
}
.workbox{
	overflow: scroll;
}
.workimg{
	width: 100%;
}
.wide{
	width: auto;
	height: 100%;
}

.worksentence {
    font-size: 0.8em;
    line-height: 1.4em;
	width: 50%;
}

@media screen and (max-width: 480px){
	.content_wrapper{
		flex-flow: column-reverse;
	}
	.left{
		width: 100%;
	}	
	.work-sumb{
		width: 50%;
	}
	.popupright{
		display: block;
		padding: 0;
	}
	.workbox{
		padding: 0;
	}
	.worktitle{
		padding-top: 2em;
	}
	.worksentence{
		width: 100%;
	}
}